*
{
    margin:20px;
    padding:2px;
}
body
{
	background-image: url('imagenes/font.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	font-family: Bahnschrift, Comic Sans MS, "Arial";
	position:relative;
}
